/* PARTIE CONTACT */
body{
    background-image: url('../img/background/tree.jpg');
    background-size: 100% 100%;
    color: #abe0f2;

}


.title-login{
        color: #abe0f2;
        margin-top: 50px;
    }

.login-form .form-control{
    border:2px solid #abe0f2;
    color: #abe0f2;
    background-color: #141943;}

.login-form .form-control:focus{
        box-shadow: none;}

.TextContact{
    min-height: 100px;
}

.btn-connect{
    margin: 15px;
    background-color: #141943;
    border:2px solid #abe0f2;
    color: #abe0f2;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}