@font-face {
    font-family: 'Marck' ;
    src: url('../police/Marck_Script/MarckScript-Regular.ttf');
}

                        /* BARRE DE NAVIGATION  */

.navbar{
    border-bottom: 1px solid white;
    background-color: black ;
    width: 100%;
}
.navbar>.container{
    padding: 0;
}

.navbar-toggler{
    border: 1px solid #abe0f2;
    margin: 10px;
}
.navbar-toggler i{
    color: #abe0f2;
}

.navbar .navbar-collapse {
    background-color: black;
    justify-content: center;
z-index: 9999;
}

.navbar .navbar-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

.navbar .nav-item{
    display: flex;
    align-items: center;
}


#navbarNav .nav-link{
    text-align: center;
    width: 100%;
}

#navbarNav .nav-link:hover{
    /* border:2px solid #abe0f2; */
    color: #ffffff;
    background-color: #141943;
    border-radius: 15px;
}


.navbar .signature{
    height: 8vw;
}
 

/* RESPONSIVE AVATAR */
@media  (min-width: 991px) {
    
    #navbarNav .nav-link{
        border-top:2px  solid white;
        border-bottom:2px  solid white;
        color: white;
        font-weight: 700;
        padding: 20px 50px;
    }
    
    }
        
    @media (max-width: 991px) {

    .signature{
        display: none;
    }
    #navbarNav .nav-link{
        color: white;
        font-weight: 700;
        padding: 20px 70px;
    }
    }