@font-face {
    font-family: 'Marck' ;
    src: url('../police/Marck_Script/MarckScript-Regular.ttf');
}

                        /* BARRE DE NAVIGATION  */

.navbar{
    border-bottom: 1px solid white;
    background-color: #141943 ;
    width: 100%;
}
.navbar>.container{
    padding: 0;
}

.navbar-toggler{
    border: 1px solid #abe0f2;
    padding: 15px;
    margin: 10px;
}
.navbar-toggler i{
    color: #abe0f2;
}

.navbar .navbar-collapse {
    justify-content: center;
    flex-wrap: wrap;
/* z-index: 9999; */
}

.navbar .navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }

.navbar .nav-item{
    display: flex;
    align-items: center;
    height: fit-content;
}


#navbarNav .nav-link{
    text-align: center;
    width: 100%;
}

#navbarNav .nav-link:hover{
    /* border:2px solid #abe0f2; */
    color: #ffffff;
    background-color: #141943;
    border-radius: 15px;
}



.dropdown{
    flex-wrap: wrap;
    justify-content: center;
}
.dropdown-menu{
    width: 100%;
    background-color: black;
    padding: 2px !important;
}
.dropdown-menu li{
    background-color: #1c2361;
    border-bottom: 1px solid #abe0f2;

}
.dropdown-item{
    color:  #abe0f2;
}

.dropdown-user{
    width: 100%;
}
.link-user{
    padding: 5px !important;
}



.navbar .signature{
    height: 8vw;
}

.btn-cat-adm{
display: flex;
justify-content: center;
}
.btn-cat-adm i{
    color: #abe0f2;
}
.fa-edit:hover{
    color: #2bff00;
}
.fa-trash-alt:hover{
    color: #ff0000;
}
 

/* RESPONSIVE AVATAR */
@media  (min-width: 992px) {
    
    #navbarNav .nav-link{
        border-top:2px  solid white;
        border-bottom:2px  solid white;
        color: white;
        font-weight: 700;
        padding: 20px 50px;
    }


    
    }
        
    @media (max-width: 991px) {

    .signature{
        display: none;
    }
    #navbarNav .nav-link{
        border-top:2px  solid white;
        border-bottom:2px  solid white;
        color: white;
        font-weight: 700;
        padding: 20px 70px;
    }

    .nav-item{
        width: 100%;
    }
    }