<footer class="bg-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3>Adresse</h3>
				<p>- Nancy -<br>
					- - - - - - - - -

				</p>
			</div>
			<div class="col-lg-4">
				<h3>Réseau sociaux</h3>


				<a class="btn btn-lg btn-outline-light" href="https://www.instagram.com/amalshia54/?hl=fr" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>

				<a class="btn btn-lg btn-outline-light" href="" target="_blank">
					<i class="fab fa-facebook-f"></i>
				</a>

			</div>

			<div class="col-lg-4">
				<h3>A propos</h3>
				<p>Mise à jours le :</p>
				<p>Merci de votre visite &#128522;
				</p>
			</div>
		</div>
	</div>
</footer>

<div class="bg-copyright text-center py-2">
	<div class="container">
		<small class="m-0">Copyright &copy;
			<a target="_blank" href="https://smaga-michael.fr">Smaga Michaël 2021
			</a>
		</small>
	</div>
</div>
